@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

body {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}


ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* CSS RESET SLUTT */

body{
    background-color: blanchedalmond;
}

/* NAVBAR START */
.nav {
    background-color: rgb(26, 85, 175);
    padding: 15px;
}

.nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 30px;
    padding: 5px;
}

.nav a:hover {
    background-color: rgb(255, 255, 255);
    transition: 500ms;
    color: rgb(0, 0, 0);
    border-radius: 10px;
}

.nav>ul {
    display: flex;
    justify-content: space-around;
}

/* NAVBAR SLUTT */

/* OM MEG */

main{
    background-color: rgb(26, 85, 175);
    width: 80%;
    height: 600px;
    justify-content: center;
    text-align: center;
    display: grid;
    grid-template-columns: 2fr 3fr;
    margin: 0 auto;
    margin-bottom: 75px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
}



.tekst{
    color: white;
    display: flex;
    flex: 1;
    padding-inline: 10px;
    padding-bottom: 20px;
    font-size: 20px;

}

.img-meg{
    width: 400px;
    aspect-ratio: 3/4;
    align-self: center;
    justify-self: center;
    object-fit: cover;
}


.smil{
    font-size: 50px;
}

.gridbox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
}

.card{
    border: 2px rgb(26, 85, 175);
    border-collapse: collapse;
    gap: 15px;
    height: 300px;
}

.card img{
    aspect-ratio: 1/1;
    object-fit: cover;
}

/* OM MEG SLUTT */

/* TIMEPLAN START*/

h1 {
    text-align: center;
    font-size: 50px;
    padding: 40px;
    color: white;
}

.h {
    background-color: rgb(26, 85, 175);
    color: white;
    width: 100%;
    height: 130px;
    margin: 50px auto;
}

.overskrift {
    text-align: center;
    padding: 40px;
    color: white;
    font-size: 35px;
}

.timeplan {
    margin: 0 auto;
    justify-content: center;
    width: 80%;
    padding-bottom: 75px;
}

table {
    border-collapse: collapse;
    align-items: center;
    margin: 0 auto;
}

th,
td {
    border: 2px solid black;
    background-color: moccasin;
    padding: 20px;
    text-align: center;
    width: 15%;
    height: 80px;
}

.t {
    background-color: whitesmoke;
}

.it {
    background-color: teal;
}

.norsk {
    background-color: red;
}

.historie {
    background-color: chocolate;
}

.fysikk {
    background-color: rgb(222, 106, 235);
}

.kjemi {
    background-color: green;
}

.r {
    background-color: royalblue;
}

.spansk {
    background-color: yellow;
}

.gym {
    background-color: powderblue;
}

.tekstboks{
    width: 70%;
    height: auto;
    padding-bottom: 40px;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
    color: white;
    background-color: rgb(26, 85, 175);
    border-radius: 15px;
    font-size: 20px;
}

.tekstboks li{
    padding-bottom: 20px;
}

/* TIMEPLAN SLUTT */


/* FOOTER START */
footer {
    background-color: rgb(26, 85, 175);
    padding: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer p {
    grid-column: span 2;
}

footer li, p{
    color: white;
    padding-top: 20px;
    font-size: 17px;
}

.h2-footer{
    padding-top: 20px;
    margin: 0 auto;
}

.ul-footer {
    justify-content: center;
    align-items: center;
}

hr {
    border: 2px solid;
    border-radius: 10px;
    border-color: white;
    width: 50%;
    margin: 20px auto;
}

/* FOOTER SLUTT */